.image{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://d2d00szk9na1qq.cloudfront.net/Product/901f74f5-4624-4367-8a96-6003ff550c30/Images/Large_AP-895.jpgs');
    background-position:50% 50%;
  }